.modal {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 500;
  @media (min-width: 1279px) {
    font-size: 14px;
  }

  &__close {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__content {
    box-sizing: border-box;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 20px;
    width: 280px;

    & img {
      cursor: pointer;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
    }

    @media (min-width: 768px) {
      padding: 40px 40px;
      width: 705px;

      & img {
        width: 265px;
      }
    }
    @media (min-width: 1279px) {
      width: 805px;
      & img {
        width: 375px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      & {
        flex-direction: row;
        gap: 68px;
      }
    }
    &--title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      margin-block: 20px;
      @media (min-width: 1279px) {
        font-size: 30px;
      }
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    &--section {
      &.results span {
        padding: 1px 4px;
        border-radius: 5px;
        background-color: var(--light-grey-color);

        &:nth-child(1) {
          color: white;
          background-color: var(--select-color-primary);
        }
      }

      &:nth-child(1) {
        color: var(--dark-grey-color);
      }
      & p {
        margin: 0;
      }
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 80%;
    }
  }

  &__about {
    & p:nth-child(1) {
      margin-top: 20px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    & p:nth-child(2) {
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    & button {
      cursor: pointer;
      background-color: transparent;
      text-transform: uppercase;
      width: 110px;
      height: 44px;
      border: 1px solid black;
      border-radius: 5px;
      @media (min-width: 768px) {
        width: 125px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.174);
      }

      &:nth-child(1) {
        color: white;
        background-color: var(--select-color-primary);
        border: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

.modal-video {
  position: relative;
  display: flex;
  position: fixed;
  background-color: black;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  & span {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 25px;
    top: 25px;
    color: aliceblue;
  }
  & iframe {
    width: 360px;
    margin: auto;
    @media (min-width: 768px) {
      width: 650px;
      height: 450px;
    }
    @media (min-width: 1279px) {
      width: 800px;
      height: 500px;
    }
  }
}

.is-hidden {
  display: none;
}
